.appBar {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 5px 20px !important;
}

.userBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center !important;
}
