.sidebarContainer {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  margin: 50px 25px !important;
  padding: 15px !important;
  max-height: 100%;
  overflow: auto;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2) !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}
